[submodule "browsers/browserhtml-old"]
	path = browsers/browserhtml-old
	url = git@github.com:ochameau/planula-browser-html.git
[submodule "browsers/advanced"]
	path = browsers/advanced
	url = git@github.com:ochameau/planula-browser-advanced.git
