@font-face {
  font-family: 'ion';
  src: url('ionicons.ttf');
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Helvetica Neue';
  /* font-weight: lighter; */
  font-size: 12px;
  color: #FDF7E4;

  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

:focus {
  outline: none;
}

.toolbox {
  background-image: url(pattern.png);
}

.iframes {
  position: relative;
  width: 100%;
  height: calc(100vh - 72px);
  background-color: white;
}

.tabiframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* transition: visibility 50ms linear, opacity 50ms linear; */
}

.tabiframe:not(.tabiframe-visible) {
  pointer-events: none;
  /* visibility: hidden; FIXME: https://github.com/glennw/webrender/issues/116 */
  opacity: 0;
}

.tabiframe > iframe {
}

.tabiframe:not(.tabiframe-visible) > iframe {
  /* display: none; FIXME: https://github.com/glennw/webrender/issues/116 */
  display: none;
}

iframe {
  width: 100%;
  height: 100%;
  display: block;
  border-width: 0;
  border: 0;
  background-color: white;
}
